<div class="container">
<div class="card ">
<div class="card-header bg-primary">Tiles</div>
<div class="card-body ">
<form name="loginForm" #loginForm="ngForm">
<div class="form-group" >
<label for="userName">User Name</label>
<input type="text" name="userName" id="userName" class="form-control" pattern="^[1-9][0-9]{5}$"
[(ngModel)]="userName"  required #uName="ngModel" >
<div  *ngIf="((!uName.valid) && uName.errors?.pattern )" class="alert alert-danger">
user name does not match with the pattern
</div>
<div class="alert alert-danger"*ngIf="((!uName.valid) &&(uName.errors?.required)) " >
user name is required
</div>          
<div class="form-group">
<label for="password">Password</label>
<input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" #pwd="ngModel" required>
</div>
<div [hidden]="pwd.valid"  class="alert alert-danger">
password is required
</div>
</div>
<div>
<button class="btn btn-primary" (click)="login()" [disabled]="!loginForm.valid">Login</button>
</div>
</form>
</div>
<div>
username pristine status : {{uName.pristine}}
</div>

<div>
username dirty status : {{uName.dirty}}
</div>

<div>
username validity status : {{uName.valid}}
</div>


<div>
form  validity status : {{loginForm.valid}}
</div>



<div>
form  submitted status : {{loginForm.submitted}}
</div>

<div class="card-footer bg-primary"></div>
</div>

</div>
